[submodule "msatubemap/logic/msa2gfa"]
	path = msatubemap/logic/msa2gfa
	url = https://github.com/hanzou666/msa2gfa.git
[submodule "api/msa2gfa"]
	path = api/msa2gfa
	url = https://github.com/hanzou666/msa2gfa.git
