[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "*"
flake8 = "*"
pipfile = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python3 app.py"
lint = "flake8 ."
