header {
    margin-top: 30px;
    /* color: rgb(26, 201, 224); */
}

textarea {
    font-size: 2px;
    font-weight: bold;
}

.align-right {
    text-align: center;
}

.tubemap {
    overflow: auto;
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    left: 5px;
    top: 5px;
}