<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MSA tubemapper (alpha)</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <div class="container">
            <header>
                <h1>MSA tubemapper (alpha)</h1>
            </header>
        </div>

        <hr>

        <div id='app'>
            <div class="container">
                <ul class="nav nav-tabs" id="tab-item">
                    <li class="nav-item">
                        <a href="#tab_custom" class="nav-link active" data-toggle="tab">Custom data</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab_eggnog" class="nav-link" data-toggle="tab">EggNOG group</a>
                    </li>
                </ul>

                <div class="tab-content" id="tab-content">
                    <div id="tab_custom" class="tab-pane active">
                        <div class="container">
                            <form action="/browser" method="post">
                                <div class="form-group">
                                    <label for="textarea">
                                        <br>
                                        Paste multiple sequence alignment in FASTA format
                                        <font size="2">     (Notice: Up to 50 sequences are used to construct graph)</font>
                                    </label>
                                    <!-- <button v-tooltip="sizeRestrictionMessage">Notice!</button> -->
                                    <textarea id="textarea" name="textarea" rows="6" 
                                        style="width: 100%" class="form-control form-control-sm"
                                        placeholder="FASTA format" wrap="off"
                                        v-model="smallFasta">
                                    </textarea>
                                </div>
                                <button class="btn btn-primary" v-on:click="tubemapHandler(0, $event)">Submit</button>
                            </form>

                        </div>
                    </div>
                    <div id="tab_eggnog" class="tab-pane">
                        <div class="container">
                            <div class="form-group">
                                <label for="nogname">
                                    <br>
                                    Search amino acid sequences from an eggNOG group name
                                    <font size="2">     (Notice: Up to 50 sequences are used to construct graph)</font>
                                </label>
                                <div class="row">
                                    <div class="col-md-4" >
                                        <input type="text" v-model="nogname" class="form-control" placeholder="e.g. ENOG410ZSWV or COG0575">
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary" v-on:click="tubemapHandler(2, $event)">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p><div id="notExist"></div></p>
            </div>

            <div class="container">
                <label for="checkCompressed">&nbsp;&nbsp;Compressed:</label>
                <input type="checkbox" name="checkbox" id="checkCompressed" v-model="isCompressed">
            </div>
            
            <div class="container">
                <template v-for="tmpColors in haplotypeColorsList">
                    <label v-bind:for="tmpColors">&nbsp;&nbsp;[[ tmpColors ]]:</label>
                    <input type="radio" v-bind:id="tmpColors" name="radio" class="btn-primary" v-bind:value="tmpColors"
                        v-model="haplotypeColors">
                </template>
            </div>


            <div class="container">
                <div v-show="loading" class="loader">Now loading...</div>
                <div v-show="!loading">
                    <div v-show="!notFound">
                        <div v-show="!rendering">
                            <div class="tubemap">
                                <svg id="svg"></svg>
                                <div id="legendDiv"></div>
                            </div>
                        </div>
                        <div v-show="rendering">Now rendering...</div>
                    </div>
                    <div v-show="notFound">Not Found</div>
                </div>

                <!-- <div id="legendDiv"></div> -->
            </div>
        </div>


        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
        <script src="/static/js/tubemap.js"></script>
        <script src="/static/js/view.js"></script>

    </body>
</html>